<!--use the old way no view child --- save for just access methods and good save code and reduce time  if you have additional work
then the viewChild become good as much <3
-->
<!--<app-navbar  (onRefresh)="Dashboard.generateData()" ></app-navbar>-->

<!--by using local var add as attribute to component like this #localvaribale
 this local var give the ability to access  dashboard controller and call methods to update component again

 -->

<!--use the old way no view child -->

<!--<app-dashboard  #Dashboard></app-dashboard>-->


<app-navbar (onRefresh)="refresh()"></app-navbar>

<app-dashboard></app-dashboard>

<router-outlet></router-outlet>
